flask==3.1.2
flask-cors==6.0.2
qrcode[pil]==7.4.2
# ML
tensorflow==2.16.1
numpy==1.26.4
pillow==12.0.0

# AI / GenAI
google-genai==1.56.0

# PDF
reportlab==4.4.7

# Server
gunicorn

# Env
python-dotenv==1.2.1

